### Initial data inspection

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('renfe_trains.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85948 entries, 0 to 85947
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company        85948 non-null  object
 1   origin         85948 non-null  object
 2   destination    85948 non-null  object
 3   departure      85948 non-null  object
 4   arrival        85948 non-null  object
 5   vehicle_class  77116 non-null  object
 6   price          72769 non-null  object
 7   fare           77116 non-null  object
dtypes: object(8)
memory usage: 5.2+ MB

In [6]:
df['price'].value_counts()

price
price    3875
76.3     3794
85.1     3615
107.7    2845
53.4     2719
         ...
98.01       1
98.2        1
69.05       1
19.75       1
61.15       1
Name: count, Length: 389, dtype: int64

In [7]:
df[df['price']=='price']

,company,origin,destination,departure,arrival,vehicle_class,price,fare
69,company,origin,destination,departure,arrival,vehicle_class,price,fare
146,company,origin,destination,departure,arrival,vehicle_class,price,fare
209,company,origin,destination,departure,arrival,vehicle_class,price,fare
287,company,origin,destination,departure,arrival,vehicle_class,price,fare
347,company,origin,destination,departure,arrival,vehicle_class,price,fare
...,...,...,...,...,...,...,...,...
85903,company,origin,destination,departure,arrival,vehicle_class,price,fare
85908,company,origin,destination,departure,arrival,vehicle_class,price,fare
85921,company,origin,destination,departure,arrival,vehicle_class,price,fare
85934,company,origin,destination,departure,arrival,vehicle_class,price,fare
85942,company,origin,destination,departure,arrival,vehicle_class,price,fare

In [8]:
df = df[df['price'] != 'price']

In [9]:
df['price'].value_counts()

price
76.3     3794
85.1     3615
107.7    2845
53.4     2719
60.3     2544
         ...
49.67       1
166.6       1
69.39       1
55.85       1
61.15       1
Name: count, Length: 388, dtype: int64

In [12]:
df['price'] = df['price'].astype(np.float32)
df

,company,origin,destination,departure,arrival,vehicle_class,price,fare
0,renfe,MADRID,SEVILLA,2019-05-07 19:00:00,2019-05-07 21:38:00,Preferente,69.400002,Promo
1,renfe,MADRID,SEVILLA,2019-05-07 21:25:00,2019-05-08 00:10:00,Turista,43.549999,Promo
2,renfe,MADRID,BARCELONA,2019-05-11 08:30:00,2019-05-11 11:15:00,Turista,85.099998,Promo
3,renfe,MADRID,BARCELONA,2019-04-18 14:30:00,2019-04-18 17:21:00,Turista,107.699997,Flexible
4,renfe,MADRID,BARCELONA,2019-04-28 16:30:00,2019-04-28 19:15:00,Turista,107.699997,Flexible
...,...,...,...,...,...,...,...,...
85943,renfe,MADRID,BARCELONA,2020-10-20 08:00:00,2020-10-20 10:30:00,Turista,55.250000,Promo +
85944,renfe,MADRID,BARCELONA,2020-10-27 09:30:00,2020-10-27 12:34:12,Turista,55.549999,Promo +
85945,renfe,MADRID,BARCELONA,2020-10-23 07:30:00,2020-10-23 10:40:12,Turista,46.849998,Promo +
85946,renfe,MADRID,BARCELONA,2020-10-08 07:40:00,2020-10-08 13:55:00,Turista con enlace,96.699997,Flexible
85947,renfe,MADRID,BARCELONA,2020-11-08 16:30:00,2020-11-08 19:15:00,Turista,108.900002,Flexible

In [14]:
df.dtypes

company           object
origin            object
destination       object
departure         object
arrival           object
vehicle_class     object
price            float32
fare              object
dtype: object

### Missing Values

In [15]:
df.isna().any()

company          False
origin           False
destination      False
departure        False
arrival          False
vehicle_class     True
price             True
fare              True
dtype: bool

In [16]:
df.isna().sum()

company              0
origin               0
destination          0
departure            0
arrival              0
vehicle_class     8832
price            13179
fare              8832
dtype: int64

In [17]:
df[df['price'].isna()]

,company,origin,destination,departure,arrival,vehicle_class,price,fare
11,renfe,MADRID,BARCELONA,2019-05-03 18:30:00,2019-05-03 21:20:00,Preferente,NaN,Promo
15,renfe,MADRID,BARCELONA,2019-04-23 07:30:00,2019-04-23 10:40:00,Turista,NaN,Promo
33,renfe,MADRID,SEVILLA,2019-04-21 21:25:00,2019-04-22 00:10:00,NaN,NaN,NaN
52,renfe,MADRID,SEVILLA,2019-04-17 09:45:00,2019-04-17 12:27:00,Turista,NaN,Flexible
65,renfe,MADRID,SEVILLA,2019-05-03 13:30:00,2019-05-03 16:05:00,Turista,NaN,Promo
...,...,...,...,...,...,...,...,...
85847,renfe,MADRID,SEVILLA,2020-11-22 09:00:00,2020-11-22 11:37:48,NaN,NaN,NaN
85850,renfe,MADRID,SEVILLA,2020-10-13 11:22:00,2020-10-13 16:05:12,NaN,NaN,NaN
85854,renfe,MADRID,BARCELONA,2020-11-06 10:30:00,2020-11-06 13:15:00,NaN,NaN,NaN
85866,renfe,MADRID,SEVILLA,2020-12-04 12:00:00,2020-12-04 14:31:48,NaN,NaN,NaN
85871,renfe,MADRID,SEVILLA,2020-10-13 11:22:00,2020-10-13 16:05:12,NaN,NaN,NaN

In [18]:
df.dropna(subset = ['vehicle_class','price', 'fare'],
          how='all',
          inplace = True
         )

In [20]:
df.isna().sum()

company             0
origin              0
destination         0
departure           0
arrival             0
vehicle_class       0
price            4347
fare                0
dtype: int64

In [21]:
df[['vehicle_class', 'fare', 'price']].groupby(['vehicle_class', 
'fare']).mean()

                                                       price
vehicle_class            fare
Cama G. Clase            Doble Familiar-Flexible   98.199997
                         Individual-Flexible      150.600006
Cama Turista             Flexible                  74.224998
Preferente               Flexible                 118.568962
                         Mesa                     342.799988
                         Promo                     76.151573
                         Promo +                   91.770325
PreferenteSólo plaza H   Flexible                  87.400002
                         Promo                     60.819565
Turista                  Adulto ida                44.249088
                         Básica                    46.240158
                         COD.PROMOCIONAL           68.483330
                         Flexible                  85.300377
                         Mesa                     172.399994
                         Promo                     64.925781
                         Promo +                   72.272072
                         YOVOY                     53.171658
Turista Plus             Flexible                 124.547058
                         Mesa                     206.800003
                         Promo                     86.225685
                         Promo +                   81.960510
                         YOVOY                     61.976925
Turista PlusSólo plaza H Flexible                  80.599998
Turista con enlace       Flexible                  62.770576
                         Promo                     45.170784
                         Promo +                   40.896313
                         YOVOY                     33.099998
TuristaSólo plaza H      Flexible                  95.176750
                         Promo                     80.128578

In [25]:
df.fillna({'price': df['price'].mean()},
          inplace = True)

In [26]:
df.isna().sum()

company          0
origin           0
destination      0
departure        0
arrival          0
vehicle_class    0
price            0
fare             0
dtype: int64

### Deduplication

In [27]:
df[df.duplicated()]

,company,origin,destination,departure,arrival,vehicle_class,price,fare
39,renfe,MADRID,BARCELONA,2019-04-30 07:00:00,2019-04-30 09:30:00,Turista Plus,94.550003,Promo
71,renfe,MADRID,SEVILLA,2019-05-18 09:00:00,2019-05-18 11:38:00,Turista,76.300003,Flexible
83,renfe,MADRID,BARCELONA,2019-05-27 17:00:00,2019-05-27 19:30:00,Turista,88.949997,Promo
132,renfe,MADRID,BARCELONA,2019-05-10 08:30:00,2019-05-10 11:15:00,Turista,85.099998,Promo
174,renfe,MADRID,BARCELONA,2019-05-13 14:00:00,2019-05-13 16:30:00,Turista,68.650002,Promo
...,...,...,...,...,...,...,...,...
85936,renfe,MADRID,SEVILLA,2020-10-28 07:00:00,2020-10-28 09:31:48,Turista,33.150002,Promo +
85938,renfe,MADRID,BARCELONA,2020-10-12 07:30:00,2020-10-12 10:40:12,Turista,108.900002,Flexible
85939,renfe,MADRID,BARCELONA,2020-10-13 07:00:00,2020-10-13 09:30:00,Turista,107.949997,Promo +
85945,renfe,MADRID,BARCELONA,2020-10-23 07:30:00,2020-10-23 10:40:12,Turista,46.849998,Promo +
85947,renfe,MADRID,BARCELONA,2020-11-08 16:30:00,2020-11-08 19:15:00,Turista,108.900002,Flexible

In [29]:
df.drop_duplicates(inplace=True)

In [30]:
df

,company,origin,destination,departure,arrival,vehicle_class,price,fare
0,renfe,MADRID,SEVILLA,2019-05-07 19:00:00,2019-05-07 21:38:00,Preferente,69.400002,Promo
1,renfe,MADRID,SEVILLA,2019-05-07 21:25:00,2019-05-08 00:10:00,Turista,43.549999,Promo
2,renfe,MADRID,BARCELONA,2019-05-11 08:30:00,2019-05-11 11:15:00,Turista,85.099998,Promo
3,renfe,MADRID,BARCELONA,2019-04-18 14:30:00,2019-04-18 17:21:00,Turista,107.699997,Flexible
4,renfe,MADRID,BARCELONA,2019-04-28 16:30:00,2019-04-28 19:15:00,Turista,107.699997,Flexible
...,...,...,...,...,...,...,...,...
85940,renfe,MADRID,SEVILLA,2020-12-02 10:18:00,2020-12-02 18:57:00,Turista,50.700001,Adulto ida
85941,renfe,MADRID,SEVILLA,2020-10-15 10:18:00,2020-10-15 18:57:00,Turista,50.700001,Adulto ida
85943,renfe,MADRID,BARCELONA,2020-10-20 08:00:00,2020-10-20 10:30:00,Turista,55.250000,Promo +
85944,renfe,MADRID,BARCELONA,2020-10-27 09:30:00,2020-10-27 12:34:12,Turista,55.549999,Promo +
85946,renfe,MADRID,BARCELONA,2020-10-08 07:40:00,2020-10-08 13:55:00,Turista con enlace,96.699997,Flexible

### Data Transformation

In [31]:
df['price_bin'] = pd.cut(x=df['price'],
            bins = [0, 150,300, 450])