# Data Cleaning

### Missing Values

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'participant':[1,3,4,5],
    'age': [50,None, 30, np.nan],
    'satisfaction' : [None, 8, 9, None]
})

df

   participant   age  satisfaction
0            1  50.0           NaN
1            3   NaN           8.0
2            4  30.0           9.0
3            5   NaN           NaN

In [5]:
df.isna().any()

participant     False
age              True
satisfaction     True
dtype: bool

In [6]:
df.isna().sum()

participant     0
age             2
satisfaction    2
dtype: int64

In [7]:
df.isna().any(axis=1)

0     True
1     True
2    False
3     True
dtype: bool

In [8]:
df[df.isna().any(axis=1)]

   participant   age  satisfaction
0            1  50.0           NaN
1            3   NaN           8.0
3            5   NaN           NaN

In [12]:
df[~df.isna().any(axis=1)]

   participant   age  satisfaction
2            4  30.0           9.0

In [13]:
df.dropna()

   participant   age  satisfaction
2            4  30.0           9.0

In [15]:
df.dropna(thresh=2)# how many rows containing nan you want to drop

   participant   age  satisfaction
0            1  50.0           NaN
1            3   NaN           8.0
2            4  30.0           9.0

In [19]:
df.dropna(subset=['age', 'satisfaction'], how = 'any')

   participant   age  satisfaction
2            4  30.0           9.0

In [21]:
df.fillna({'age':df['age'].mean(), 'satisfaction':df['satisfaction'].median()})

   participant   age  satisfaction
0            1  50.0           8.5
1            3  40.0           8.0
2            4  30.0           9.0
3            5  40.0           8.5

### Duplicates

In [22]:
dups = pd.read_csv('data/loan_data2.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/loan_data2.csv'