## If

In [31]:
age = 19
if age > 18:
    print("You are in Category A")
elif age > 16:
    print("You are in Category B")
else: 
    print("You are in Category C")

You are in Category A

## While Loops

In [35]:
i=1

In [17]:
i=1
while i < 100:
    square = i**2
    if square > 2000:
        break
    print(square)
    i+=1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936

In [9]:

start = float(input("Initial Investment: "))
target = float(input("Target Value: "))
interest = int(input("Interest Rate [%]: "))/100

year = 0
current = start
while current < target:
    year += 1
    current *= (1+interest)
    print("year", year, "value", round(current,2))

Initial Investment:  100
Target Value:  1000
Interest Rate [%]:  10

year 1 value 110.0
year 2 value 121.0
year 3 value 133.1
year 4 value 146.41
year 5 value 161.05
year 6 value 177.16
year 7 value 194.87
year 8 value 214.36
year 9 value 235.79
year 10 value 259.37
year 11 value 285.31
year 12 value 313.84
year 13 value 345.23
year 14 value 379.75
year 15 value 417.72
year 16 value 459.5
year 17 value 505.45
year 18 value 555.99
year 19 value 611.59
year 20 value 672.75
year 21 value 740.02
year 22 value 814.03
year 23 value 895.43
year 24 value 984.97
year 25 value 1083.47

## List

In [12]:
list = [1,2,3,4,5,6]

In [21]:
sum=0
for n in list:
    sum +=n
average = sum/len(list)
average

3.5

## Combinations

In [28]:
sizes = ['Large', 'Medium', 'Small'] 
garments = ['Shirt', 'Jacket', 'Trousers']

In [30]:
for i in sizes:
    for j in garments:
        print(i,j)

Large Shirt
Large Jacket
Large Trousers
Medium Shirt
Medium Jacket
Medium Trousers
Small Shirt
Small Jacket
Small Trousers

## Functions

In [53]:
def make_upper(text=""):
    return text.upper()

## File Handling

In [67]:
data = open('data/data.txt','r').read().split('\n')
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'data/data.txt'